*{
    font-family:  Arial, Helvetica, sans-serif;;
}

#grad {
    background-image: linear-gradient(to right, rgb(90, 125, 181), rgb(148, 77, 183));
  }

.border{
    border-style: ridge;
    border-color: rgb(255, 197, 255);
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10%;
    border-width: 9px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul{
    height: 45vh;
    display:contents;
    text-align: center;
    list-style-type: none;
}

ul li{
    padding: 15px;
    margin: 5px 10px 5px 10px;
}

ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    border: 4px ridge rgba(195, 128, 233, 0.855);
    border-radius: 8%;
    transition-duration: 0.4s;
}
ul a:hover{
    background-color: rgb(217, 179, 231);
    color: white;
}