*{
    font-family:  Arial, Helvetica, sans-serif;;
}


#grad {
    background-image: linear-gradient(to right, rgb(90, 125, 181), rgb(148, 77, 183));
}

.border{
    border-style: ridge;
    border-color: rgb(255, 197, 255);
    background-color: rgba(255, 255, 255, 0.849);
    border-radius: 10%;
    border-width: 9px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="submit"] {
    color: rgb(0, 0, 0);
    background-color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px;
    border: 4px ridge rgba(195, 128, 233, 0.855);
    border-radius: 8%;
    margin-bottom: 10px;
    transition-duration: 0.4s;
}

input[type="submit"]:hover{
    background-color: rgb(217, 179, 231);
    color: white;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 10px 10px 10px 10px;
    border: 1px solid rgb(8, 8, 8);
    border-radius: 5px;
}

a {
    padding: 10px;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;   
    font-weight: bold;
    display: block;
}
